/***********************************************************/
/*Auteurs : COLLETTE Loic et DELAVAL Kevin                 */
/*Groupe : 2203                                            */
/*Labo : Programmation Web avancée                         */
/*Application : Site d'immersion à l'école                 */
/*Date de la dernière mise à jour : 26/04/2020             */
/***********************************************************/

section
{
  margin: 1%;
}

.bg-primary
{
  background-color: #cb2020 !important;
}

.nav-logo
{
  width: auto;
  height: 38px;
}

.center
{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.row
{
  margin-bottom: 10px;
}

%block
{
   width: 100%;
   height: 500px;
   background-color: red;

  text-align: center;
  vertical-align: middle;

}



.welcome-block
{
  @extend %block;
  background-color: green;
}

.status-block
{
  @extend %block;
  background-color: #18877e;
}

.nb-cours-block
{
  @extend %block;
  background-color: cornflowerblue;
}

.nb-profs-block
{
  @extend %block;
  background-color: darkseagreen;
}

.nb-days-block
{
  @extend %block;
  background-color: #462c01;
}

.why-block
{
  @extend %block;
  background-color: #ab32cd;
}

.while-text
{
  color: white;
}
