/***********************************************************/
/*Auteurs : COLLETTE Loic et DELAVAL Kevin                 */
/*Groupe : 2203                                            */
/*Labo : Programmation Web avancée                         */
/*Application : Site d'immersion à l'école                 */
/*Date de la dernière mise à jour : 26/04/2020             */
/***********************************************************/


$primary-color : rgba(203, 32, 32, 100);
$primary-color-light : rgba(203, 32, 32, 0.5);

.bg-primary, .dropdown-menu, .dropdown-item:hover, .alert-primary, .list-group-item.active{
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}


.nav-logo
{
  width: auto;
  height: 38px;
}

section{
  margin: 2%;
}

fieldset{
  margin: 1%;
}

#cours-tranche-1, #cours-tranche-2, #cours-tranche-3, #cours-tranche-4{
  border: rgba(0,0,0,0.1) 1px solid;
  height: 27vh;
  overflow-y: hidden;
}

.center-elements{
  text-align: center;
  a{
    width: 150px;
  }
}

.hidden{
  display: none;
}

.disabled{
  disabled: true;
}